@use "./src/app/variable" as var;

@function sp($pxValue) {
    $spBreakPoint: 375;
    @return (($pxValue / $spBreakPoint) * 100) + vw;
}

@function tb($pxValue) {
    $psBreakPoint: 768;
    @return (($pxValue / $psBreakPoint) * 100) + vw;
}

@function pc($pxValue) {
    $pcBreakPoint: 1280;
    @return (($pxValue / $pcBreakPoint) * 100) + vw;
}

.contact {
    display: flex;
    // margin: 80px 16px;
    padding: 0px 16px 0px 16px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    // margin: 0 auto;

    &_inner {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
        display: flex;
    }
    &_ttl {
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-bottom: 1px solid var.$color_border_main;
    }
    &_textWrap_txt {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &_snsWrap {
        display: flex;
        gap: 16px;
        &_item {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 1px #333;
            display: flex;
            align-items: center;
            justify-content: center;

            &_link {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &_img {
                width: 24px;
                height: 24px;
            }
        }
    }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
    .contact {
        margin: 80px 80px;
        padding: 0px;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 80px;
        width: 608px;

        &_textWrap_txt {
            font-size: 16px;
        }
    }
}
@media screen and (min-width: 1280px) {
    .contact {
        padding: 0px;
        margin: 0 auto;
        margin-top: 120px;
        margin-bottom: 120px;
        width: 1000px;

        &_textWrap_txt {
            font-size: 16px;
        }
    }
}
