@use "./src/app/variable" as var;

@function sp($pxValue) {
    $spBreakPoint: 375;
    @return (($pxValue / $spBreakPoint) * 100) + vw;
}

@function tb($pxValue) {
    $psBreakPoint: 768;
    @return (($pxValue / $psBreakPoint) * 100) + vw;
}

@function pc($pxValue) {
    $pcBreakPoint: 1280;
    @return (($pxValue / $pcBreakPoint) * 100) + vw;
}

.profile {
    display: flex;
    padding: 0px 16px 0px 16px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    &_ttl {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-bottom: 1px solid var.$color_border_main;
    }
    &_inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        align-self: stretch;
    }
    &_wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
        flex-direction: column;
    }
    &_imgWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 18.3px;
        align-self: stretch;
        &_img {
            width: 183px;
            height: 183px;
            flex-shrink: 0;
        }
    }
    &_detile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;
        &_item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;

            &_ttl {
                color: var.$color_text_sub;
                font-family: "Noto Sans JP";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 2.6px;
            }
            &_txt {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.82px;
            }
            &_skil {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;
                align-self: stretch;
                &_design_ttl,
                &_coding_ttl {
                    color: var.$color_text_sub;
                    font-family: "Noto Sans JP";
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 1.3px;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    .profile {
        padding: 0px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 608px;

        &_inner {
            gap: 48px;
        }
        &_ttl {
            font-size: 32px;
        }

        &_detile {
            &_item {
                &_ttl {
                    font-size: 24px;
                }
                &_txt {
                    font-size: 16px;
                }
                &_skil {
                    &_design_ttl,
                    &_coding_ttl {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1280px) {
    .profile {
        padding: 0px;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 50px;
        width: 1000px;

        &_inner {
            gap: 48px;
        }
        &_ttl {
            font-size: 32px;
        }
        &_wrap {
            flex-direction: row;
        }
        &_detile {
            gap: 32px;
            &_item {
                &_ttl {
                    font-size: 24px;
                }
                &_txt {
                    font-size: 16px;
                }
                &_skil {
                    &_design_ttl,
                    &_coding_ttl {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
