$color_text_main: #333333;
$color_text_sub: #a3a3a3;
$color_border_main: #333333;
$color_border_sub: #dbdbdb;
$color_appeal: linear-gradient(90deg, rgba(255, 237, 188, 0.2) 0%, #ffedbc 50%, rgba(255, 237, 188, 0.2) 100%);
$color_worksCard_bgImg: rgba(245, 218, 167, 0.14);
$color_bg_mainVisial: #efefef;
$color_bg_button: #fae8b0;

// @use "variable" as var;
// @use "./src/app/variable" as var;
// color: var.$color_text_main;
